.container-fluid {
    
    text-align: center;
    background-color: #47BCC2;
  
}

.container-fluid-geral {
  text-align: center;
    background-color: #D8F1F2;
}

.cadastroperdidos {
  text-align:center;
  align-items: center;
}

.navbar navbar-brand,navbar-toggler,navbar-toggler-icon{
    background-color:  #47BCC2;
} 

div.img-container{
  text-align:center;
  -ms-flex-item-align: center;
  border: 1px dashed #ddd;
}

div.img-container div{
  display:inline-block;
  margin:5px 0px;
  padding: 0;
}

body {
    background-color: #D8F1F2;
  } 
  
.form-control {
    color:white;
}

.carousel-inner{
  align-items: center;
  border-radius: 20px;
  justify-items: center;
  min-width: 500px;
}
h3 {
  text-align: center;
}

.badge {
  margin-right: 10px;
  margin-left: 10px;
  
}
.carousel-item {
  align-items: center;
}
marquee{
    font-size: 30px;
    font-weight: 800;
    color: black;
    font-family: sans-serif;
    }

    #rowcadastro {
      align-items: center;
      text-align: center;
    }
/* #47BCC2 cor mais escura da  pagina
B9E6E8 div de baixo
D8F1F2 pagina*/
